<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>
            
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Nome do Squad" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>
            </div>
            <input type="text" name="descricao" id="descricao" placeholder="Descrição do Squad" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numero_pessoas">Número Pessoas:</label>
            </div>
            <input type="text" name="numero_pessoas" id="numero_pessoas" placeholder="Número de integrantes" value="{{squad.numero_pessoas}}"> <br/>
            <div class="descricoes"> 
                <label for="fk_linguagem_backend.nome">Linguagem BackEnd:</label>
            </div>
            <input type="text" name="backend" id="fk_linguagem_backend.nome" placeholder="Linguagem BackEnd" value="{{squad.fk_linguagem_backend.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="fk_framework_frontend">Framework FrontEnd:</label>
            </div>
            <input type="text" name="frontend" id="fk_framework_frontend.nome" placeholder="Framework FrontEnd" value="{{squad.fk_framework_frontend.nome}}"> <br/>
            <div>
                <label for="fk_sgbds.nome">SGBDS:</label>
            </div>
                <input type="text" name="sgbds" id="fk_sgbds.nome" placeholder="SGBDS" value="{{squad.fk_sgbds.nome}}"> <br/>
            <div>
            
            <hr/>
            <input type="submit" value="Salvar" class='btn-cadastro'>
            <a href="/cadastrar" value="Salvar" class='btn-cadastro'>Limpar</a>
        </form>
    </div>
</body>
</html>
