<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="Id" id="Id" value="{{squad.Id}}"> <br/>
            <div class="descricoes"> 
                <label for="Nome">Nome:</label>
            </div>
            <input type="text" name="Nome" id="Nome" placeholder="Nome do Squad" value="{{squad.Nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>
            </div>
            <input type="text" name="Descricao" id="Descricao" placeholder="Descrição do Squad" value="{{squad.Descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="NumeroPessoas">Número Pessoas:</label>
            </div>
            <input type="text" name="NumeroPessoas" id="NumeroPessoas" placeholder="Número de integrantes" value="{{squad.NumeroPessoas if squad.NumeroPessoas != 0 else ''}}"> <br/>
            <div class="descricoes"> 
                <label for="linguagem_backend">Linguaem BackEnd:</label>
            </div>
            <input type="text" name="LinguagemBackEnd" id="LinguagemBackEnd" placeholder="Linguagem BackEnd" value="{{squad.LinguagemBackEnd}}"> <br/>
            <div class="descricoes"> 
                <label for="FrameworkFrontEnd">Framework FrontEnd:</label>
            </div>
            <input type="text" name="FrameworkFrontEnd" id="FrameworkFrontEnd" placeholder="Framework FrontEnd" value="{{squad.FrameworkFrontEnd}}"> <br/>
            <div>
            
            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>