<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Listar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <a class='btn-cadastro' href="/cadastrar">Cadastrar</a>
        <table id='tabela-squad'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>DESCRICAO</th>
                    <th>NUMERO PESSOAS</th>
                    <th>LINGUAGEM BACKEND</th>
                    <th>FRAMEWORK FRONTEND</th>
                    <th>SGBDS</th>
                </tr>
            </thead>
            <tbody>
                {% for s in lista %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.nome }}</td>
                    <td>{{ s.descricao }}</td>
                    <td>{{ s.numero_pessoas }}</td>
                    <td>{{ s.fk_linguagem_backend.nome }}</td>                   
                    <td>{{ s.fk_framework_frontend.nome }}</td>
                    <td>{{ s.fk_sgbds.nome }}</td>
                    <td>
                        <a href="/cadastrar?id={{ s.id }}" class='btn-cadastro'>Editar</a>
                        <a href="/excluir?id={{ s.id }}" class='btn-cadastro'>Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>