<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Listar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <a class='btn-cadastro' href="/cadastrar">Cadastrar</a>
        <table id='tabela-squad'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>descricoes</th>
                    <th>numero_pessoas</th>
                    <th>linguagem_backend</th>
                    <th>framework_frontend</th>
                </tr>
            </thead>
            <tbody>
                {% for s in lista %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.nome }}</td>
                    <td>{{ s.descricoes }}</td>
                    <td>{{ s.numero_pessoas }}</td>
                    <td>{{ s.linguagem_backend }}</td>
                    <td>{{ s.framework_frontend }}</td>
                    <td>
                        <a href="/cadastrar?id={{ s.id }}" class="editar">Editar</a>
                        <a href="/excluir?id={{ s.id }}" class="excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>