<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da soma entre {{n1}} e {{n2}} é {{resultados['soma']}}</p>
    <p>Resultado da subtracao entre {{n1}} e {{n2}} é {{resultados['subtracao']}}</p>
    <p>Resultado da multiplicacao entre {{n1}} e {{n2}} é {{resultados['multiplicacao']}}</p>
    <p>Resultado da divisao inteira entre {{n1}} e {{n2}} é {{resultados['divisao_int']}}</p>
    <p>Resultado da divisao fracionada entre {{n1}} e {{n2}} é {{resultados['divisao_frac']}}</p>
    <p>Resultado do resto entre {{n1}} e {{n2}} é {{resultados['resto']}}</p>
    <p>Resultado da raiz entre {{n1}} e {{n2}} é {{resultados['raiz']}}</p>
    
    <br>
    <a href="/">Voltar para a pagina inicial</a>
</body>
</html>